body {
    font-family: sans-serif;
    
}
.container {
    width: 400px;
    margin: auto;
    background-color: #EEEEEE;
    padding: 5px;
}
ul {
    list-style-type: none
}
ul li ol {
    list-style-position: outside
}
ul li ol li ,ul li ul li {
    background-color: white;
    margin: 5px;
    padding: 5px;
}
ul li ul {
    list-style-type: circle;
}
