body {
    font-family: sans-serif;
    
}
.parent {
    background-color: #EEEEEE;
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    
}
.parent div {
    background-color:#F44336;
    color: white;
    width: 180px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
