body {
    font-family: sans-serif;
    
}
.parent {
    background-color: #EEEEEE;
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.parent div {
    background-color: #607D8B;
    color: white;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent  .six {
    order: 1;
    height: 160px;
}
.parent  .three {
    order: 2;
}
.parent  .four {
    order: 3;
}
.parent  .five {
    order: 4;
    height: 140px;
}
.parent  .two {
    order: 5;
    height: 140px;
}
.parent  .one {
    order: 6;
    align-self: flex-end;
}
