body {
    font-family: sans-serif;
    
}
p {
    margin: 5px auto;
    background-color:#EFEFEF ;
    width: 400px;
    text-align: center;
    padding: 15px;
    border-left: 4px solid #E91E63;
    position: relative;
}
p::before {
    content: attr(data-person);
    position: absolute;
    background-color: #EFEFEF;
    width: 80px;
    height: 20px;
    padding: 5px;
    left: -120px;
    top: 10px;
}
p::after {
    content: "";
    position: absolute;
    width:0;
    height: 0;
    border-bottom: transparent 10px solid;
    border-top: transparent 10px solid;
    border-left: transparent 10px solid;
    border-right: 10px solid #E91E63 ;
    left: -24px;
}
