:root {
  --mainColor:#DDDDDD;
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
div {
  width: 200px;
  height: 200px;
  background-color:#607D8B ;
  margin: 180px auto;
  border-bottom: 5px solid black;
  position: relative;
}
div::after {
  content: "Elzero";
  position: absolute;
  bottom: 5px;
  left: 8px;
  color: white;
}
div::before {
  content: "";
  position: absolute;
  width: 142px;
  height: 142px;
  background-color: black;
  transform: rotate(45deg);
  left: 29px;
  top: -70px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
