*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background-color: yellowgreen;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: top bottom;
  transition: transform 1s;
}
div:hover {
  transform: translateY(10%) rotateX(180deg);
}
div::after {
  content: "Front";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F63664;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  backface-visibility: hidden;
}
div::before {
  content: "Back";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1692FC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transform: rotateY(180deg);
}
