body {
    font-family: sans-serif;
    
}
table {
    width: 700px;
    margin: auto;
    text-align: center;
    border-spacing: 2px;

}

table thead {
    background-color: #404040;
    color: white;
}
table td  {
    background-color: #EEEEEE;
}
table thead th {
    padding: 15px;
}
table  img {
    width: 60px;
    height: 60px;
}
table a {
    text-decoration: none;
    color: white;
    padding: 3px;
}
table .OneLink {
    background-color:#03A9F4 ;
}
table .TwoLink {
    background-color: #E91E63;
}
table caption {
    font-weight: 600;
}
